header {
    color: $color15;
    position: fixed;
    width: 80%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    .btn-menu {
        font-size: 35px;
        cursor: pointer;
    }
    .btn-duda {
        font-size: 35px;
        cursor: pointer;
        a {
            h1 {
                color: $color1;
                font-family: Arial;
            }
            &:hover {
                text-decoration: none;
            }
        }
    }
}

.seccion {
    height: 100%;
    .cuerpo {
        height: 100%;
        display: flex;
    }
}

.full-menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: $color10;
    transition: .2s;
    nav {
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
        ul {
            list-style: none;
            display: grid;
            grid-template-columns: 1fr 1fr;
            li {
                text-decoration: none;
                &.rosa {
                    color: $color1;
                    font-size: 50px;
                    width: 100%;
                    height: 100%;
                    a {
                        text-decoration: none;
                        color: $color1;
                    }
                    p {
                        font-size: 15px;
                    }
                }
                &.amarrillo {
                    color: $color5;
                    font-size: 50px;
                    width: 100%;
                    height: 100%;
                    background-color: $color12;
                    a {
                        text-decoration: none;
                        color: $color5;
                    }
                    p {
                        font-size: 15px;
                    }
                }
            }
        }
    }
}