footer {
    background-color: $color12;
    width: 100%;
    height: auto;
    h1 {
        font-size: 30px;
        color: $color1;
        span {
            font-size: 30px;
            color: $color1;
        }
    }
    ul {
        li {
            list-style: none;
            a {
                text-decoration: none;
                color: $color15;
                &:hover {
                    color: $color15;
                }
            }
        }
    }
    a {
        font-size: 18px;
    }
    p {
        color: $color15;
        font-size: 15px;
    }
    span {
        font-size: 15px;
        color: $color1;
    }
}