// Colores
$color1: #F20A72;
$color2: #E6096C;
$color3: #FF2286;
$color4: #FF6CAE;
$color5: #E6DB74;
$color6: #CAC166;
$color7: #EEE69E;
$color8: #F3FCD9;
$color9: #C5C2B8;
$color10: #20252C;
$color11: #191E23;
$color12: #1C2127;
$color13: #363B41;
$color14: #63666B;
$color15: #FFFFFF;
// Tamaños 
$h1: 40px;